.small-font {
    font-size: 12px;
}

.medium-font {
    font-size: 14px;
}

.large-font {
    font-size: 20px;
}

.custom-offcanvas {
    width: 20% !important;
}
.top-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }
  .top-left {
    position: absolute;
    top: 1;
    left: 98%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;

  }
  .black-text {
    color: black;
  }
  